/* _____________PROFILE.HTML CSS____________ */
/* --------- elements ----------*/
body {
  background-color: #2e3059;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins";
  color: #FFFFFF;
}

/* --------- body ----------*/
#container {
  width: 100%;
  margin: 0 !important;
}

.triangle {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #a48d01 50%, #a48d01 100%);
}

.logo {
  width: 400px;
  height: auto;
}


.name-career {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.social-icons a{
  float: right;
  margin-left: 50px;
}

.social-icons img {
  border-radius: 100%;
  transition: .25s ease;
  border: solid 2px #AEB9BD;

}

.social-icons img:hover {
  background-color: aqua;
  border: solid 2px aqua;
}

.social-icons:first-child{
  margin: 0 !important;
}

.name {
  margin: 0;
}

.career {
  margin: 0;
}
.header-container {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: #1d2052;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.header-row {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 90%;
}

.header-column {
  width: 33.33%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.specialize h1{
  color: #AEB9BD;
  transition: .7s ease;
}

.specialize h1:hover{
  color: aqua;
}

.specialize {
  transition: transform .7s ease-in-out;
}
.specialize:hover {
  transform: rotate(-15deg);
}

.button-row {
  width: auto;
  max-width: 1080px;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  padding: 30px 0 30px ;
  padding-left: 0 !important;
  margin: auto;
}

.nav-links {
  padding-right: 0 !important;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-links li {
  list-style-type: none;
}


.nav-links a:hover {
  background-color: #080839;
  width: 300px;
  letter-spacing: 6px;
  color: aqua;
}

.nav-links a{
  text-decoration: unset;
  color: white;
  font-family: "Poppins";
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  width: 150px;
  color: white;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #0712a0;
  padding: 10px;
  font-size: 18px;
  margin: 0 15px 0 15px;
  border-radius: 100px;
  -webkit-box-shadow: -15px 12px 25px -5px #6d6e75;
  -moz-box-shadow: -15px 12px 25px -5px #6d6e75;
  box-shadow: -15px 12px 25px -5px #6d6e75;
  -webkit-transition: width 1s ease, .5s ease;
  -moz-transition: width 1s ease, .5s ease;
  transition: width 1s ease, .5s ease;
}

footer {
  height: 200px;
  background-color: #737c96;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

/*-----------responsive media queries------------*/

@media all and (max-width: 980px){
  .button-row {
    flex-direction: column;
  }
  .nav-links a{
    margin-top: 30px;
  }

}

