/* _____________PROFILE.HTML CSS____________ */
/* --------- elements ----------*/
body {
  background-color: #2e3059;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: "Poppins";
  color: #ffffff;
}

/* --------- body ----------*/
#container {
  width: 100%;
  margin: 0 !important;
}

.logo {
  width: 400px;
  height: auto;
}

.name-career {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.social-icons a {
  float: right;
  margin: 20px;
}

.social-icons img {
  border-radius: 100%;
  transition: 0.5s ease;
  padding: 4px;
}

.social-icons img:hover {
  background-color: aqua;
}

.social-icons:first-child {
  margin: 0 !important;
}

.header-container {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: #1d2052;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-bottom: solid 5px #FFFFFF;
}

.row {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 90%;
  margin: auto;
}

.header-column {
  width: 33.33%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.specialize h1 {
  color: #aeb9bd;
  transition: 0.7s ease, transform 0.7s ease-in-out;
  text-align: center;
}

.specialize h1:hover {
  color: aqua;
  transform: rotate(-15deg);
}

.button-row {
  width: auto;
  max-width: 1080px;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  padding: 60px 0 30px 0;
  margin: auto;
}

.nav-links {
  padding-right: 0 !important;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a:hover {
  background-color: #080839;
  width: 300px;
  letter-spacing: 6px;
  color: #00ffff;
  -webkit-box-shadow: -15px 12px 25px -5px #00ffff;
  -moz-box-shadow: -15px 12px 25px -5px #00ffff;
  box-shadow: -15px 12px 25px -5px #00ffff;
}

.nav-links a:active {
  background-color: #737c96;
}

.nav-links a {
  text-decoration: unset;
  color: white;
  font-family: "Poppins";
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  width: 150px;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #0712a0;
  padding: 10px;
  font-size: 18px;
  margin: 0 15px 0 15px;
  border-radius: 100px;
  -webkit-box-shadow: -15px 12px 25px -5px #6d6e75;
  -moz-box-shadow: -15px 12px 25px -5px #6d6e75;
  box-shadow: -15px 12px 25px -5px #6d6e75;
  -webkit-transition: width 1s ease, 1s ease;
  -moz-transition: width 1s ease, 1s ease;
  transition: width 1s ease, 1s ease;
}

/*------------------BODY OF PAGE---------------*/

.body-row {
  display: flex;
  width: 100%;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto auto auto;
}

.mod {
  -webkit-box-shadow: 20px 20px 15px -5px #63d6d6;
  -moz-box-shadow: 20px 20px 15px -5px #63d6d6;
  box-shadow: 20px 20px 15px -5px #63d6d6;
  border-radius: 50px;
  padding: 30px;
  margin: 30px;
  background-color: #17172b;
  float: left;
}

.mod h3 {
  display: flex;
  color: #9da8e3;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.5s ease;
}

.mod h3:hover {
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 6px;
}

.mod input{
  color: #ffffff;
  font-family: "Poppins";
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  width: 350px;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #9da8e3;
  padding: 10px;
  font-size: 18px;
  margin: 0 15px 0 0;
  border-radius: 100px;
  -webkit-box-shadow: -15px 12px 25px -5px #6d6e75;
  -moz-box-shadow: -15px 12px 25px -5px #6d6e75;
  box-shadow: -15px 12px 25px -5px #6d6e75;
  -webkit-transition: width 1s ease, 1s ease;
  -moz-transition: width 1s ease, 1s ease;
  transition: .5s ease;
  border: none;
}

.mod input:hover {
  background-color: #080839;
  width: 450px;
  letter-spacing: 6px;
  color: #00ffff;
  cursor: pointer;
}

.mod a {
  color: #00ffff;
  text-decoration: none;
  transition: 0.5s ease;
}

.mod a:hover {
  color: #3a45da;
  letter-spacing: 3px;
  font-weight: bold;
}

.mod img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  float: right;
  display: block;
  padding: 10px;
}

.secondary-list li {
  color: #9da8e3;
}

footer {
  border-top: solid 5px white;
  height: 200px;
  background-color: #080839;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

/*-----------responsive media queries------------*/

@media all and (max-width: 980px) {
  .button-row {
    flex-direction: column;
  }
  .nav-links a {
    margin-top: 30px;
  }
}

@media all and (max-width: 1200px) {
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .header-container {
    height: 500px;
  }
  .header-column {
    width: 90%;
  }

  .body-row {
    flex-direction: column;

  }

  .column {
    width: 100%;
  }
}